.search-body {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
}

.search-body__icon {
  display: flex;
  cursor: pointer;
}

.search-body__icon a svg {
  margin-bottom: -2px;
}

.search-body__input {
  width: 100%;
}

.search-body__input input[type='text'] {
  width: 100%;
}

@media (min-width: 768px) {
  .search-body {
    padding: 0 20px;
  }
}
