.profile-body {
  width: 100vw;
  min-height: 100%;
  margin-left: -20px;
  margin-bottom: -38px;
  background-color: var(--white);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.03);
  padding: 32px 20px 19px 20px;
}

.form__list {
  margin: 0px 0px 0px 0px;
}

.form-list__item {
  position: relative;
  list-style: none;
  padding-bottom: 28px;
}

.form-list__item:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.form-list__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -20px;
  width: calc(100% + 40px);
  height: 1px;
  background-color: var(--athens-gray);
}

.form-list__item-title {
  margin-bottom: 8px;
}

.form-list__item-inputs {
  line-height: normal;
  margin: 0px 0px 0px 0px;
}

.form__button {
  padding-top: 9px;
}

.form__button input {
  padding: 9px 10px;
  font-size: 14px;
  line-height: 120%;
}

.form__button input:last-child {
  padding: 9px 9px;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .profile-body {
    padding: 41px 20px 19px 20px;
    margin-bottom: -49px;
  }
  .form-list__item {
    padding-bottom: 38px;
  }
  .form-list__item:not(:last-child) {
    margin: 0px 0px 26px 0px;
  }
  .form__button {
    padding-top: 9px;
  }
}

@media (min-width: 1280px) {
  .profile-body {
    padding: 40px 30px 19px 30px;
    margin: 0px 0px 0px 0px;
    min-height: auto;
    width: auto;
  }
  .form-list__item {
    padding-bottom: 38.5px;
  }
  .form-list__item::after {
    left: -30px;
    width: calc(100% + 60px);
  }
}
