<ul class="documents-list">
  <li class="documents-list__item fz15-regent-gray">Правила</li>
  <li class="documents-list__item fz15-regent-gray">Документы</li>
  <li class="documents-list__item fz15-regent-gray">Политика конфиденциальности</li>
</ul>