<footer class="footer">
  <div class="footer__container">
    <div class="footer__body">
      <div class="footer__column contacts">
        <ul class="contacts-list">
          <li class="contacts-list__item youtube-icon">
            <a href="#">
              {% include "./blocks/_youtubeIcon.twig" %}
            </a>
          </li>
          <li class="contacts-list__item instagram-icon">
            <a href="#">
              {% include "./blocks/_instagramIcon.twig" %}
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__column documents">
        {% include "./blocks/_documentsList.twig" %}
      </div>
      <a class="footer__column logo" href="/">
        {% include "./blocks/_footerLogo.twig" %}
      </a>
    </div>
  </div>
</footer>