<header class="header">
  <div class="header__container">
    <div class="header__body">
      <div class="header__column logo">
        {% include "./blocks/_logoHeader.twig" %}
      </div>
      <div class="header__column search">
        {% include './blocks/_search.twig' %}
      </div>
      <div class="header__column user-info">
        {% include "./blocks/_user.twig" %}
      </div>
    </div>
  </div>
</header>