<div class="user-info__body">
  <span class="user-info__name fz15-regent-gray">Александра</span>
  <div class="user-info__avatar">
    <a href="/profile">
      <img src="{{ 'assets/images/ava.png'|manifest }}" alt="user-avatar">
    </a>
  </div>
</div>