.button {
  padding: 9px 0px 10px 0px;
  background: var(--royal-blue-light);
  border: 1px solid var(--royal-blue);
  border-radius: 3px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 130%;
  color: var(--white);
  text-align: center;
  cursor: pointer;
}
