.card-list__item {
  height: 369px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.03);
  margin: 0px 0px 0px 0px;
  overflow: hidden;
}

.item-img {
  height: 159px;
}

.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px 3px 0px 0px;
  margin: 0px 0px 0px 0px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  transition: 0.3s ease all;
}

.item-body {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 159px);
  padding: 20px;
}

.card-news .item-body__info-title {
  line-height: 0;
}

.card-news .item-body__info-title a {
  transition: 0.3s ease all;
}

.card-news .item-body__info-title:hover a {
  color: var(--black);
}

.card-news .item-img img:hover {
  transform: scale(1.1);
}

.item-body__star {
  position: absolute;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  background-color: var(--white);
  border-radius: 0px 0px 0px 3px;
  cursor: pointer;
}

.card-promotions .item-body__star svg {
  margin-bottom: 3px;
  margin-left: 1px;
}

.item-body__star svg {
  margin-bottom: 2px;
}

.item-body__star:hover svg path {
  fill: var(--cornflower-blue);
}

.item-body__info {
  flex: 1 1 100%;
  max-height: 136px;
  overflow: hidden;
  margin-bottom: 17px;
}

.item-body__info-title {
  margin-bottom: 10px;
  font-size: 18px;
}

.item-body__info-title a {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--outer-space);
}

.item-body__info-subtitle {
  position: relative;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: var(--regent-gray);
  margin: 0px 0px 0px 0px;
}

.item-body__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-body__footer-date {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.item-body__footer-date span {
  position: relative;
  display: none;
  font-size: 13px;
  margin-left: 6px;
  margin-bottom: 0;
  padding: 0px 6px;
}

.item-body__footer-date span::before {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 1px;
  height: 10px;
  background-color: var(--athens-gray);
}

.item-body__footer-action {
  display: flex;
  align-items: center;
  gap: 12px;
}

.item-body__footer-action span {
  display: inline;
  margin-bottom: 0;
  margin-left: 6px;
  line-height: normal;
}

.item-action {
  cursor: pointer;
}

/* .item-action svg {
  width: auto;
} */

.liked-card svg path,
.item-action__like:hover svg path {
  fill: var(--regent-gray);
}

.item-action__comments,
.item-action__view,
.item-action__like {
  display: flex;
  align-items: center;
}

.favorites-card svg path {
  fill: var(--cornflower-blue);
}

.bg-img .liked-card svg path,
.bg-img .favorites-card svg path {
  fill: var(--white);
}

.bg-img .item-body__info-title a {
  font-family: 'Roboto';
  font-weight: 500;
}

.bg-img .item-body__info-subtitle {
  font-family: 'Roboto';
  font-size: 14px;
}

.bg-img .item-img img {
  position: absolute;
  border-radius: 3px;
  filter: brightness(0.5);
}

.bg-img .item-body__info,
.bg-img .item-body__footer {
  position: relative;
}

.bg-img .item-body__star {
  background-color: transparent;
}

.bg-img .item-body__star svg path,
.bg-img .item-action svg path,
.bg-img .item-action svg circle {
  stroke: var(--white);
}

.bg-img .item-body__info-title a,
.bg-img .item-body__info-subtitle,
.bg-img .item-action span,
.bg-img .item-body__footer-date {
  color: var(--white);
}

.bg-img .item-action svg circle:last-child,
.bg-img .item-action__like:hover svg path,
.bg-img .item-body__star:hover svg path {
  fill: var(--white);
}

@media (min-width: 768px) {
  .bg-img {
    grid-column: 1 / -1;
  }
  .bg-img .item-body__info {
    max-width: 518px;
  }
  .card-promotions {
    grid-column: 1 / -1;
    flex-direction: row-reverse;
    height: 206px;
  }
  .card-promotions .item-body__star {
    top: 11px;
    right: 11px;
  }
  .card-promotions .item-body {
    padding: 20px 20px 17px 20px;
    position: relative;
    max-width: calc(100% - 206px);
    width: 100%;
    min-height: 0;
  }
  .card-promotions .item-img {
    width: 206px;
    height: 100%;
  }
  .card-promotions .item-img img {
    border-radius: 0px 0px 3px 3px;
  }
  .card-promotions__reversed {
    flex-direction: row;
  }
  .item-body__footer-date span {
    display: inline;
  }
}

@media (min-width: 1280px) {
  .card-promotions .item-body {
    max-width: calc(100% - 368px);
  }
  .card-promotions .item-img {
    width: 368px;
  }
  .bg-img .item-body__info {
    max-width: 610px;
  }
  .card-grid__1 {
    grid-column: 1 / 2;
  }
  .card-grid__2 {
    grid-column: 2 / 3;
  }
  .card-grid__3 {
    grid-column: 1 / 3;
  }
  .card-grid__4 {
    grid-row: 1;
    grid-column: 3 / 4;
  }
  .card-grid__5 {
    grid-column: 3 / 4;
  }
  .card-grid__6 {
    grid-column: 1 / 3;
  }
  .card-grid__7 {
    grid-column: 3 / 4;
  }
  .card-grid__8 {
    grid-column: 1 / 2;
  }
  .card-grid__9 {
    grid-column: 2 / 4;
  }
}
