:root {
  --white: #ffffff;
  --athens-gray: #e5e6e9;
  --wild-sand: #f5f5f5;
  --silver: #c4c4c4;
  --black: #000000;
  --firefly: #10242d;
  --outer-space: #2e3640;
  --regent-gray: #8591a5;
  --royal-blue: #4077d6;
  --cornflower-blue: #4c8bf7;
  --royal-blue-light: #4d85e6;
  --sail: #a1d5f6;
  --periwinkle-gray: #c8daea;
  --froly: #f37575;
}
