@import url('normalize.css');
@import url('./_variables.css');
@import url('./_normalize.css');
@import url('./_fonts.css');
@import url('../styles/blocks/_header.css');
@import url('../styles/blocks/_user.css');
@import url('../styles/blocks/_search.css');
@import url('../styles/blocks/_footer.css');
@import url('../styles/blocks/_documentsList.css');
@import url('./_generic.css');

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*='__container'] {
  max-width: 767px;
  margin: 0px auto;
  padding: 0 20px;
}

.main {
  flex: 1 1 auto;
}

.main__container {
  padding: 30px 20px 39px 20px;
}

@media (min-width: 768px) {
  [class*='__container'] {
    max-width: 1279px;
  }
  .main__container {
    padding: 40px 20px 50px 20px;
  }
}

@media (min-width: 1280px) {
  [class*='__container'] {
    max-width: 1920px;
    padding: 0 100px;
  }
  .main__container {
    padding: 60px 100px 70px 100px;
  }
}
