@import url('normalize.css');
@import url('./_variables.css');
@import url('./_normalize.css');
@import url('./_generic.css');
@import url('./_fonts.css');
@import url('../styles/blocks/_header.css');
@import url('../styles/blocks/_user.css');
@import url('../styles/blocks/_search.css');
@import url('../styles/blocks/_footer.css');
@import url('../styles/blocks/_documentsList.css');

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*='__container'] {
  max-width: 767px;
  margin: 0px auto;
  padding: 0 20px;
}

.main {
  flex: 1 1 auto;
  padding: 30px 0px 39px 0px;
}

.main-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-invalid {
  margin-bottom: 24px;
}

.input-invalid::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--froly);
}

.input-invalid::before {
  content: attr(data-error) ' ';
  position: absolute;
  height: 10px;
  bottom: -19px;
  left: 0;
  line-height: 100%;
  font-size: 14px;
  color: var(--froly);
}

@media (min-width: 768px) {
  [class*='__container'] {
    max-width: 1279px;
  }
  .main {
    padding: 40px 0px 51px 0px;
  }
}

@media (min-width: 1280px) {
  [class*='__container'] {
    max-width: 1920px;
    padding: 0 100px;
  }
  .main {
    padding: 60px 0px 70px 0px;
  }
}
