.page-detailed__body {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.detailed-body__outlet {
  flex: 0 1 calc(100%);
}

.detailed-body__menu {
  display: contents;
  min-width: 293px;
  height: 300px;
}

.outlet__title {
  margin-bottom: 20px;
}

.outlet__body {
  height: 100%;
}

@media (min-width: 1280px) {
  .detailed-body__menu {
    display: flex;
  }
}
