.inputs-item {
  list-style: none;
  display: flex;
}

.inputs-item:not(:last-child) {
  margin-bottom: 13px;
}

.input-body {
  flex: 0 1 335px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.input-body input:disabled {
  filter: brightness(1);
  cursor: not-allowed;
}

.input-disabled label {
  color: var(--silver);
}

.input-body textarea {
  height: 19px;
  max-height: 150px;
  overflow-wrap: break-word;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: #2e3640;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background-color: initial;
}

.input-body textarea::-webkit-scrollbar {
  display: none;
}

.input-body__title {
  line-height: 19px !important;
  color: var(--regent-gray);
  cursor: pointer;
}

.input-body input {
  line-height: 100%;
  color: var(--outer-space);
  height: 19px;
}

.input-body__input {
  flex: 0 1 170px;
  display: flex;
  position: relative;
}

.input-body__input:focus-within::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--cornflower-blue);
}

.input-body__input input[type='text'],
input[type='email'] {
  width: 100%;
}

.input-radio .input-body,
.input-checkbox .input-body {
  flex: none;
}

.input-radio .input-body label,
.input-checkbox .input-body label {
  cursor: pointer;
  white-space: nowrap;
}

.input-body input[type='radio'],
.input-body input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  z-index: -1;
  margin-right: 10px;
}

.input-body input[type='radio'] + label,
.input-body input[type='checkbox'] + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  line-height: 100%;
  -webkit-user-drag: none;
}

.input-body input[type='radio'] + label::before,
.input-body input[type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  max-width: 16px;
  min-width: 16px;
  max-height: 16px;
  min-height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--regent-gray);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 8px;
  cursor: pointer;
}

.input-body input[type='radio'] + label::before {
  border-radius: 50%;
  background-size: 8px 8px;
}

.input-body input[type='checkbox'] + label::before {
  border-radius: 2px;
  background-size: 10.08px 9.29px;
}

.input-body input[type='radio']:checked + label::before {
  background-image: url(../../assets/svg/circle.svg);
}

.input-body input[type='checkbox']:checked + label::before {
  background-image: url(../../assets/svg/checkMark.svg);
}

.input-body input[type='checkbox']:disabled + label::before,
.input-body input[type='radio']:disabled + label::before {
  filter: grayscale(1);
  cursor: not-allowed;
}

.input-body input[type='checkbox']:disabled + label,
.input-body input[type='radio']:disabled + label {
  cursor: not-allowed;
}

@media (min-width: 375px) {
  .input-body__input {
    flex: 0 1 213px;
  }
}

@media (min-width: 768px) {
  .input-body {
    flex: 0 1 422px;
  }
  .input-body__input {
    flex: 0 1 300px;
  }
}
