.page__news {
  margin: 0px 0px 0px 0px;
}

.news__body {
  display: flex;
  flex-direction: column;
}

.news__top {
  margin-bottom: 30px;
}

.news-top__title {
  margin-bottom: 10px;
}

.news-top__title span {
  display: inline;
  color: var(--cornflower-blue);
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  margin: 0px 0px 0px 0px;
}

.news-top__description {
  color: var(--outer-space);
  margin: 0px 0px 0px 0px;
}

.news-top__description a {
  text-decoration-line: underline;
  color: var(--cornflower-blue);
}

.news-main__menu {
  margin-bottom: 26px;
}

.news-main__menu-list {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 6px 0px 9px 0px;
  margin: 0px 0px 0px 0px;
  border-bottom: 1px solid var(--cornflower-blue);
}

.news-main__menu-list li {
  list-style: none;
  margin-bottom: 0;
}

.menu-list__item {
  position: relative;
  padding: 0px 5px;
  line-height: 130% !important;
  color: var(--outer-space) !important;
  cursor: pointer;
}

.menu-list__item-active::after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--cornflower-blue);
  color: #e0e0e0;
}

.news-main__button {
  margin-top: 20px;
}

.news-main__button input[type='button'] {
  width: 100%;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-row-gap: 20px;
  margin: 0px 0px 0px 0px;
}

.card-list li {
  list-style: none;
}

@media (min-width: 768px) {
  .news__top {
    max-width: 450px;
    margin-bottom: 40px;
  }
  .news-top__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .news-top__title span {
    font-size: inherit;
  }
  .card-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .news-main__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .news-main__button input[type='button'] {
    line-height: 117%;
    width: auto;
  }
}

@media (min-width: 1280px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .news__top {
    margin-bottom: 60px;
  }
}
